h1, h2, p {
    text-align: center;
}
body {
    background-image: url(/background.jpg);
    font-family: sans-serif;
    padding: 20px;
}
h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 15px;
}
h2 {
    font-size: 30px;
}
.established {
    font-style: italic;
}
/* id selector = #id */
/* class selector = .class-name */
.menu {
    width: 80%;
    /*max-width= prevent the menu class to wide*/
    max-width: 500px;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
hr {
    height: 5px;
    background-color: black;
    border-color: black;
}
.appt, .entree {
    text-align: left;
    width: 75%;
}
.price {
    text-align: right;
    width: 25%;
}
.item p {
    display:inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}
.bottom-line {
    margin-top: 25px;
}
/* FOOTER */
footer {
    font-size: small;
}
.address {
    margin-bottom: 5px;
}
a:visited {
    color: grey;
}
a:hover {
    color: blue;
}
a:active {
    color: black;
}