h1, h2, p {
    text-align: center;
}
body {
    background-image: url(https://png.pngtree.com/background/20210717/original/pngtree-red-yellow-blue-watercolor-gradient-abstract-background-picture-image_1446412.jpg);
}
/* id selector = #id */
/* class selector = .class-name */
.menu {
    width: 80%;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
}
.appt, .entree {
    text-align: left;
    width: 75%;
}
.price {
    text-align: right;
    width: 25%;
}
.item p {
    display:inline-block;
}