h1, h2, p {
    text-align: center;
}
body {
    background-image: url(/background.jpg);
    font-family: sans-serif;
}
/* id selector = #id */
/* class selector = .class-name */
.menu {
    width: 80%;
    /*max-width= prevent the menu class to wide*/
    max-width: 500px;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.appt, .entree {
    text-align: left;
    width: 75%;
}
.price {
    text-align: right;
    width: 25%;
}
.item p {
    display:inline-block;
}